* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'aleo regular';
  src: url(../fonts/aleo-regular-webfont.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans Bold';
  src: url(../fonts/JosefinSans-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans Regular';
  src: url(../fonts/JosefinSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1770px;
  height: 553px;
  background: url(../img/background1.png) no-repeat;
  padding-top: 267px;
}

header h1 {
  text-transform: uppercase;
  font-family: 'Josefin Sans';
  font-size: 48pt;
  color: #ffffff;
  font-weight: bold;
}

header p {
  font-family: 'Josefin Sans';
  font-size: 19pt;
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 5pt;
  margin-bottom: 55px;
}

header input {
  font-family: 'Josefin Sans';
  font-size: 14pt;
  color: #999999;
  font-weight: normal;
  background-color: #ffffff;
  line-height: 0;
  min-width: 650px;
  min-height: 60px;
  text-align: center;
  border: none;
  position: relative;
  left: 75px;
}

header input :active,
header :hover,
header :focus {
  outline: 0;
  outline-offset: 0;
}

header button {
  min-width: 145px;
  min-height: 56px;
  background-color: #5474fd;
  font-family: 'aleo regular';
  text-transform: uppercase;
  font-size: 14pt;
  color: #ffffff;
  cursor: pointer;
  border: none;
  position: relative;
  right: 76px;
  top: 4px;
  margin: 0 auto;
}

header button :active,
header :hover,
header :focus {
  outline: 0;
  outline-offset: 0;
}

header a {
  text-decoration: none;
  font-family: 'Josefin Sans';
  color: #ffffff;
  font-size: 14pt;
  margin-top: 100px;
  margin-bottom: 5px;
}

header div {
  width: 1770px;
  height: 80px;
  position: relative;
  top: 134px;
  background-color: #5474fd;
  text-transform: uppercase;
  color: #ffffff;
  display: inline;
}

header div p {
  display: inline;
  font-family: 'Josefin Sans';
  font-size: 19pt;
  font-weight: bold;
  position: absolute;
  top: 30px;
  left: 330px;
}

header div li {
  text-decoration: none;
  list-style: none;
  display: inline;
  position: relative;
  top: 30px;
  left: 913px;
  font-family: 'aleo';
  font-size: 12pt;
  font-weight: normal;
  margin-right: 40px;
}

#first_section {
  width: 1770px;
  height: 1000px;
  background: url(../img/background2.png) no-repeat;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first_section div {
  width: 540px;
  height: 340px;
  position: relative;
  top: 220px;
  left: 330px;
}

#first_section div h2 {
  font-family: 'Aleo';
  font-weight: normal;
  font-size: 26pt;
  color: #ffffff;
  margin-bottom: 70px;
}

#first_section div p {
  font-family: 'Josefin Sans';
  font-size: 12pt;
  color: #e8e8e8;
  margin-bottom: 40px;
}

#first_section div #image_1 {
  position: absolute;
  top: -150px;
  left: 650px;
}

#first_section div #image_2 {
  position: absolute;
  top: 75px;
  left: 770px;
}

#first_section div #dark_grey {
  width: 1770px;
  height: 335px;
  background-color: #333333;
  position: relative;
  top: 118px;
  left: -330px;
}

#first_section div #dark_grey :nth-child(5) {
  position: absolute;
  top: 220px;
  left: 380px;
}

#first_section div #dark_grey :nth-child(6) {
  position: absolute;
  top: 220px;
  left: 800px;
}

#first_section div #dark_grey :nth-child(7) {
  position: absolute;
  top: 220px;
  left: 1200px;
}

#first_section div #dark_grey p {
  display: inline-block;
  font-family: 'Aleo';
  font-size: 26pt;
  color: #ffffff;
}

#second_section {
  background: url(../img/background3.png) no-repeat;
  width: 1770px;
  height: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#second_section div {
  width: 540px;
  height: 370px;
  background-color: #312b28;
  color: #ffffff;
  opacity: 0.9;
  position: relative;
  top: 230px;
  left: 300px;
  padding-left: 30px;
}

#second_section div :nth-child(1) {
  font-family: 'Josefin Sans';
  font-size: 20pt;
  margin-top: 50px;
}

#second_section div :nth-child(2) {
  font-family: 'Josefin Sans';
  font-size: 20pt;
  text-transform: uppercase;
  margin-top: 35px;
}

#second_section div :nth-child(3) {
  font-family: 'Josefin Sans';
  font-size: 12pt;
  margin-top: 35px;
}

#third_section {
  background: url(../img/background4.png) no-repeat;
  width: 1770px;
  height: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#third_section div {
  width: 540px;
  height: 370px;
  background-color: #312b28;
  color: #ffffff;
  opacity: 0.9;
  position: relative;
  top: 228px;
  left: 902px;
  padding-left: 30px;
}

#third_section div :nth-child(1) {
  font-family: 'Josefin Sans';
  font-size: 20pt;
  margin-top: 50px;
}

#third_section div :nth-child(2) {
  font-family: 'Josefin Sans';
  font-size: 20pt;
  text-transform: uppercase;
  margin-top: 35px;
}

#third_section div :nth-child(3) {
  font-family: 'Josefin Sans';
  font-size: 12pt;
  margin-top: 35px;
}

.button {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  opacity: 0.7;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  font-family: 'Aleo';
  font-size: 16pt;
  color: #ffffff;
  cursor: pointer;
  line-height: 0;
}

.button :active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
/*# sourceMappingURL=style.css.map */